@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100);

html {
	background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ), url(../img/bg.jpg);
    background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed; 
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

body {
    background-color: transparent;
	color: white;
	text-align: center;
	font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
	margin: 0;
	padding: 0;

	-webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1 {
	font-weight: 300;
	font-size: 3em;
}

h3 {
	font-weight: 100;
	font-size: 2em;
}

/* Icon list */
.icons {
	padding: 3em 0;
}

li {
	display: inline;
	list-style-type: none;
	padding: 0 2em;
}

.container {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.centered {
    text-align: center;
}

/* Contact button */

.btn-default {
	border: 0;
	background-color: rgba(255,255,255,1);
	color: rgba(0,0,0,1);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-default:hover {
	background-color: rgba(255,255,255,0.2);
	color: white;
	font-weight: bold;
}

/* Links */
a {
    color: rgba(255,255,255,0.7);
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: white;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}


/* Avatar */

.avatar {
	width: 12em;
	height: 12em;
}

.icons .fa {
	font-size: 35px;
}